@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Teko:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	@apply bg-sky-400;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
	@apply mb-12;
}

h1 {
	font-family: 'Teko', sans-serif;
}

button {
	@apply text-2xl bg-slate-500 px-5 py-3 text-white text-center rounded;
}
